@import "tailwindcss";

/* @theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

:root {
  --charcoal: #414244;
}


html,
body {
  background-color: rgb(14 9 24 / var(--tw-bg-opacity, 1));
  color: #fff;


  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
